<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @menu_item.name %>
</p>

<p>
  <strong>Menu image:</strong><br />
  <img src="https://storage.googleapis.com/farbucks_menu_images/<%= @menu_item.menu_image %>.jpg" alt="<%= @menu_item.menu_image %>">
</p>

<table class="table-light table-striped table-bordered">
<% @menu_item.item_details.each do |i| %>
	<!-- include our partial -->
	<%= render "item_detail_row", item_detail: i, order_item:
	current_order.order_items.new %> 
<% end %>
</table>
<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
