<p id="notice"><%= notice %></p>

<p>Order Details</p>

<% if !current_order.order_items %>
  "There are no items in this order."
<% else %>
  <%= "You have #{current_order.order_items.count} #{"item".pluralize(current_order.order_items.count)} in this order." %>    

  <table>
    <% current_order.order_items.each do |item| %>
	  <tr>
	    <td><%= "#{item.item_detail.menu_item.name}" %></td>
		<td><%= "#{item.item_detail.size}" %></td>
		<td><%= "#{number_to_currency(item.item_detail.price)}" %></td>
	  </tr>
	<% end %>
  </table>

  <p>Order Subtotal: <%= @order.subtotal %></p>

<% end %>